body {
    font-size: 16px;
    ;
}
/*main navbar*/
#header-nav {
    background-color: #99b3ff;
    border-radius: 0;
    border: 0;
}
h1 {
    color: black;
    text-shadow: 3px 3px 3px #8d8b8b;
    padding: 10px;
}
.navbar {
    padding-bottom: 0;
}
.navbar .container {
    padding: 0px;
}
.navbar-brand a:link, .navbar-header a:active, .navbar-header a:hover, .navbar-header a:focus {
    text-decoration: none;
}
/*navbar button*/
.navbar-toggler {
    background-color: darkgray;
    margin: 10px;
}
.nav-item {
    text-align: center;
    font-size: 1.3em;
}
.collapse {
    background-color: #ccd7f8;
}

/*rest of body*/
.row {
    position: relative;
   
    margin: 10px 10px;
    box-shadow: 5px 5px 5px 5px #666464;
    padding: 2px;
    margin: 5px;
}
.Chicken{
    background-color: rgb(245, 238, 139);
}
.Beef{
    background-color: rgb(206, 142, 117);
}
.Sushi{
    background-color: rgb(126, 98, 72);
}
.section-content {
    text-align: justify;
}
.Sushi p  {
    color: rgb(201, 196, 196);
}
/*media queries
        lg-devices, md-devices, sm-devices*/
@media (min-width: 576px) {
    .navbar-toggler, .navbar-collapse {
        display: none;
    }
}

